.video-item{
    width: 260px;
    height: 350px;
    border: none;
}
.thumb-img{
    width: 100%;
    height: 60%;
    border-radius: 5%;
    object-fit: cover;
}
.pro-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.img-title{
    font-size: 15px;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}
.name{
    font-size: 13px;
    color: #7B7B7B;
   
}
.view{
    font-size: 13px;
    color: #7B7B7B;
    margin-top: -10px;
    
}
.null-item{
    transform: translate(400px,100px);
}
